@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root
{
    --primaryColor: #02A39F;
    --bgPrmaryColor: #FFFFFD;
    --brand :#2644F2;
    --secondaryColor:#6c7cb3;  
    --darkColor: #333; 
    --white: #fff;
    --black: #0F0114;
    --ash: #828282;
    
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.d-flex{
  align-items: center;
}
ul {
  padding-left: 0 !important;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--bgPrmaryColor);
  color: var(--darkColor);
  font-family:"Open Sans", sans-serif;
  font-weight: 400;
}

section,
footer {
  padding: 10rem 6rem 0 6rem;
}

footer {
  padding: 2rem 6rem;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 32px;
  background-color: var(--green-bg);
  color: var(--white);
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: var(--box-shadow);
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}

.orange
{
  color: var(--primaryColor);
}
.tag-text
{
  text-align: center;
  font-size: medium;
  font-weight: 600;
}
.oranges {
  color: var(--secondaryColor);
  /* position: relative; */
  /* color: var(--primary-bg-color); */
  letter-spacing: 0px;
  text-transform: capitalize;
  /* font-size: 2rem; */
  animation: text 3s steps(4) infinite;
  overflow: hidden;
  display: flex;
}
@keyframes text {

  0%,
  90%,
  100% {
      width: 0;
  }

  30%,
  60% {
      width: 80.23px;
  }
}
.orange::before {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  width: 2px;
  height: 100%;
  animation: cursorAnimate 0.8s steps(4) infinite;
}
header {
  position: relative;
  background-color: #4d5162;
  color: var(--white);
  position: relative;
  height: 90vh;
  z-index: -1;
}

.bg-wave{
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  z-index: -1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem 4rem;
  z-index: 3;
}

.logo{
  width: 120px;
  /* height: 100px; */
  /* border-radius: 60px; */
}

.sticky {
  position: fixed;
  background-color: #3a4b4a;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  border-radius: 0rem;
  padding: 2rem 6rem;
}

.nav-list {
  list-style: none;
  display: flex;
  /* width: 300px; */
}

.nav-items:not(:last-child) {
  margin-right: 3.5rem;
}

.nav-link {
  text-decoration: none;
  color: white !important;
  font-size: 1.5rem;
}


.link {
  text-decoration: none;
  border-radius: 10rem;
  padding: 1rem 1.8rem;
  color: var(--primaryColor);
  font-weight: 500;
}


.hero-cta .link{
  padding: .8rem 3.5rem !important;
  font-size: 16px !important;
  
}

.link:hover {
  color: var(--primaryColor) !important;
}

.button a:not(:last-child) {
  margin-right: 1.5rem;
}

.active {
  color: var(--white) !important;
  background-color: var(--primaryColor);
  border: none;
  color: #FAFAFA;
  font-weight: 500;
  box-shadow: .8rem 1.6rem 2.4rem 0rem rgba(6, 103, 68, 0.30);
}

.active:hover {

  color: var(--white) !important;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8rem 5rem 0 5rem;
  height: 70vh;
  
}

.hero-text {
  width: 43%;
  /* margin-top: 7rem; */
}

h1 {
  font-size: 5rem;
  font-style: normal;
  font-weight: 700;
  /* line-height: 7rem; */
  letter-spacing: 0.02rem;
  color: white;
}

.hero-text p {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.02rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  color: white;
  width: 75%;
}

.herobtn{
  background: white !important;
  border-radius: 6px !important;
  color: var(--primaryColor) !important;
}



.hero-img {
  width: 33%;
  margin-top: -4rem;
}
.play
{
  /* display: flex;
  width: 360px; */
  margin-top: -2rem;
  gap: 5px;
}

.head-h2 {
  color: #01071E;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

/* OUR PARTNERS.............*/

#partner {
  /* margin-top: 10rem; */
}

.trust h2 {
  margin-bottom: 3rem;
}

.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}

.slider .slider-track {
  animation: scroll 30s linear infinite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}

.slider .slide {
  height: 100px;
  /* width: 250px; */
}

.slider .slider-track:hover {
  animation-play-state: paused;
}

.slide img {
  width: 12rem;
  height: auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* OUR SERVICES.............*/
#service
{
  background-color: white;
  padding-bottom: 3rem;
}
#service h2
{
  margin-bottom: 1rem;
}
.service-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr) ;
  gap: 30px;
  width: 70%;
  margin: auto;
}

.service {
  /* width: 350px; */
  display: flex;
  gap: 2rem;
  justify-self: center;
  align-items: flex-start;
  border-radius: 1rem;
  background: var(--white);
  padding: 2rem;
  box-shadow: 0px 41px 90px 0px #0000000A;

/* box-shadow: 0px 164px 164px 0px #00000008;

box-shadow: 0px 368px 221px 0px #00000005;

box-shadow: 0px 655px 262px 0px #00000003;

box-shadow: 0px 1023px 286px 0px #00000000; */

}

.service img {
  width: 3.8rem;
  margin-right: 1rem;
}

.service h3 {
  color: #333333;
  font-size: 1.5rem;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  line-height: 2.8rem;
  letter-spacing: 0.01rem;
  margin-bottom: 1.5rem;
}


.service p {
  color: var(--ash);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  text-align: left;
}

.oval
{
  width: 400px;
  align-items: center;
}
.iconboxs 
{
   
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* background: var(--white); */
    border: 1px solid var(--secondaryColor);
    flex: none;
    margin-top: 5px;
}
.iconboxs h3
{
    color: var(--primaryColor);
    margin-top: 5px;
    font-size: 16px;
}
/*Why choose us.............*/
.why-heading {
  text-align: center;
  margin-bottom: 8rem;
}

.why-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.why-img {
  width: 45%;
}

.why-textbox {
  width: 48%;
}

.why-box {
  display: flex;
  align-items: flex-start;
}

.why-box:not(:last-child) {
  margin-bottom: 3rem;
}

.why-box img {
  width: 7rem;
  margin-right: 2rem;
}

.why-text h3 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.7rem;
}

.why-text p {
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.7rem;
}

/*How it works.............*/
.work-container {
  /* margin-top: 5rem; */
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;

}

.work {
  width: 30%;
  text-align: center;
  color: var(--white);

}

.work h3 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
  margin-bottom: 2rem;
  margin-top: -15rem;
  color: var(--black);
}

.work p {
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.7rem;
  color: var(--black);
}

/* .data-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.data-textbox {
  width: 45%;
}

.data-container img {
  width: 50%;
}

.data-textbox h3 {
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--black);
} */
/* ABOUT */

#about, #testimonial{
  background-color: #F2F2F2;
}
.step
 {
  font-size: 2.5rem;
  color: #333333;
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: 0.02rem;
  margin-bottom: 30px;
}

.down h5
{
  font-weight: 600;
  font-size: 17px;
}
.down p{
  font-size: 16px;
  font-weight: 300;
}

/*  ---- BTN ---- */
.btn
{
    font-weight: 600;
    font-size: 14px;
    border-radius: 6px;
    padding: 10px 24px;

}
.btn-brand
{
    background-color: var(--brand);
    border-color: var(--primaryColor);
    color: white;
}
.btn-brand:hover
{
    background-color: #01071E;
    border-color: #01071E;
    color: white;
}

#whyy
{
  background-color: #F66B03;
  padding-top: 40px;

  /* padding-top: 50px */
}
#whyy h1
{
  color: #fff;
}
#whyy img
{
  margin-bottom: 40px;
}

/*review.............*/
/* .review-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.review-box {
  width: 31%;
  border-radius: 1rem;
  border:var(--border);
  background: var(--white);
  padding: 1.5rem 1rem;
  transition: all .2s;
}

.review-box:hover {
  background-color: var(--primaryColor);
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  margin-right: 1.5rem;
}

.profile-name h4 {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
  color: #242424;
}

.review-box:hover .profile-name h4 {
  color: var(--white);
}

.review-box:hover .profile-name p {
  color: var(--white);
}

.review-text {
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.2rem;
}

.review-box:hover .review-text {
  color: var(--white);
} */

/* FREQUENTLY ASKED QUESTION........................*/


#faq{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.faq-container {
  position: relative;
  width: 90%;
}

h2.faq-container-h2 {
  margin-bottom: 4rem;
 
}
.faq-content{
  padding: 3rem 2rem;
  border-bottom: 0.8px solid #E0E0E0
}
.faq-container h2 {
  /* padding-bottom: 2rem; */
 
}
.faq-content-container{
  width: 100%;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr) ;
  gap: 50px; */
}

@media screen and (max-width: 430px) {
  .faq-content-container{
    grid-template-columns: repeat(1, 1fr);
  }
}

.faq-content-container h1{
  font-size: 15px;
  color: #828282;
}
.faq-content-container p{
  font-size: 13px;
  color: var(--ash-bg);
}

#contact{
  background-color: var(--primaryColor);
  padding-bottom: 3rem;
}

.contact-box{
  display: flex;
  width: 100%;
  gap: 2rem;
}
#contact h2{
 color: white;
}

.contact-form, .contact-desc{
  width: 50%;
}

@media screen and (max-width: 430px) {
  .contact-box{
    flex-direction: column;
  }
  .contact-form, .contact-desc{
    width: 100%;
  }
}

.cont-tab{
  display: flex;
  align-items: center;
  gap: 20px;
}
.cont-desc p{
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: #B8B9DA;

}
.cont-desc .aii{
  font-size: 13.89px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  color: white;
  margin: 0;
}

.head-h3{
  color: #01071E !important;
  font-weight: 600;
  font-size: 18px;
}

#contact form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 40%; */
  margin: auto;
  gap: 20px;
}
#contact form input{
  padding: 12px 4px;
  outline: none;
  border: none;
  border-radius: 6px;
  width: 100%;
}
#contact form textarea{
  padding: 12px 4px;
  outline: none;
  border: none;
  border-radius: 6px;
  width: 100%;
  height: 20vh;
}
#contact form button{
  padding: 12px 4px;
  background: #01071E;
  border: none;
  border-radius: 6px;
  width: 100%;
  font-weight: medium;
  color: white;
}



/*..................FOOTER......................*/
footer {
  background-color: #3a4b4a;
  /* margin-top: 8rem; */
  color: var(--white); 
  padding-top: 3rem;
}

.footer-box {
  padding-top: 5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-about {
  flex-basis: 40%;
}
.play{
  margin-top: 2rem;
}
.play img{
  height: 50px;
  margin-right: 30px;
}

.footer-about p {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.8rem;
}

/* .footer-about a {
  border-radius: 10rem;
  background: var(--primaryColor);
  padding: 1rem 1.6rem;
  color: var(--white) !important;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
  text-decoration: none;
  display: inline-block;
  margin-top: 1rem;
} */

.footer-box ul {
  list-style: none;
}

.footer-box h3 {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 1.8rem;
}

.footer-box ul a,
.footer-box ul li {
  text-decoration: none;
  color: var(--white);
  font-size: 1.3rem;
}

.footer-box ul li:not(:last-child) {
  margin-bottom: 1.8rem;
}


.copy {
  font-size: 1.4rem;
  /* text-align: center; */
  margin-top: 8rem;
  padding-top: 1.5rem;
  border-top: 1px solid #cdcdcd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy-icon {
  text-decoration: none;
  color: var(--white);
}

.copy-icon i {
  color: var(--white);
  margin-right: .5rem;
}

.breaa {
  word-break: break-all;
}

/*HAMBURGER MENU..............*/
.openMenu {
  font-size: 3rem;
  display: none;
  color: var(--primaryColor);
  padding-right: 1rem;
}

.closeMenu {
  font-size: 3rem;
  color: var(--white);
  position: absolute;
  top: 8%;
  right: 10rem;
  display: none;
  
}

.menu-list {
  list-style: none;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  /* max-width: 2000px; */
  width: 100%;
  color: var(--white);
  background-color:var(--primaryColor);
  padding: 5rem;
  padding-top: 15rem;
  height: 100%;
  display: none;
}


.login,
.menu-list li a {
  text-decoration: none;
  font-size: 2.8rem;
  color: var(--white);
  display: block;
  margin-bottom: 3.8rem;
  border: none;
  display: none;
}

.login {
  border: 1px solid var(--white);
  padding: 2rem;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1rem;
}

.act {
  color: var(--primaryColor);
  background-color: var(--white);
  border: none;
}



/* DATA PRICING PLAN........................*/
#price{
  background-color: white;
  padding-bottom: 6rem;
}

.data h2 {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 700;

}

.data-box {
  display: flex;
  justify-content: space-between;

}

.data-plan {
  width: 22%;
  border-radius: 7.378px;
  border: 0.8px solid #BDBDBD;
  background: white;
  padding: 2.5rem 1.1rem;
  transition: all .7s ease-in-out;
}
.data-plan:hover {
  background-color: var(--primaryColor);
}

.data-plan img {
  width: 30%;
  margin-right: 35%;
  margin-left: 35%;
  margin-bottom: 1rem;
}

.data-plan h4 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.data-plan ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.data-plan ul li {
  font-size: 1.1rem;
}

.data-plan ul li:not(:last-child) {
  flex-basis: 30%;
  margin-bottom: 2rem;
}

.data-plan a {
  text-decoration: none;
  color: #fff;
  padding: 1rem 1.2rem;
  margin-top: 3rem;
  display: block;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 1.4rem;
  border-radius: 8px;
  background: black;
  /* box-shadow: 7.999999046325684px 15.999998092651367px 24px 0px var(--primaryColor); */
}

.data-plan:hover a {
  color: black;
  background-color: white;
}


#testimonial{
  padding-bottom: 4rem;
}


.testimonial-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  width: 60%;
  margin: auto;
}
@media screen and (max-width: 430px) {
  .testimonial-container{
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
.testimonial-tab{
  background: white;
  border-radius: 8px;
  
}

.test-head{
  padding: 2rem;
}
.test-head h3{
  margin-bottom: 1rem;
}
.test-head p{
  text-align: center;
  color: var(--ash);
}
.test-star{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.test-foot{
  background: #F6F9FE;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 20px;

}
.test-foot span{
  font-weight: medium;
  font-size: 14px;

}